# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
  branches:
    include:
      - master
      - feature/*

stages:
- stage: Compile
  displayName: 'Compile'
  jobs:
  - job: Compile
    displayName: 'Compile'
    pool:
      vmImage: 'windows-latest'
    steps:
    - task: PowerShell@2
      displayName: 'Build Bootstrap and Init'
      inputs:
        targetType: 'Inline'
        script: |
          git config --global user.email 13959569+blindzero@users.noreply.github.com
          git config --global user.name Matthias Fleschuetz
          ./build.ps1 -Bootstrap
          ./build.ps1 Init
    - task: PowerShell@2
      displayName: 'Build Compile'
      inputs:
        targetType: Inline
        script: ./build.ps1 Compile
    - task: PublishPipelineArtifact@1
      displayName: 'Publish compile artifact'
      inputs:
        targetPath: 'BuildOutput\Connect-MS365'
        artifactName: 'Connect-MS365_compile'
- stage: TestUnit
  displayName: 'Unit Tests'
  jobs:
  - job: TestUnit_Win
    displayName: 'Windows Unit Tests'
    pool:
      vmImage: 'windows-latest' 
    steps:
    - task: PowerShell@2
      displayName: 'Build Bootstrap and Init'
      inputs:
        targetType: 'Inline'
        script: |
            git config --global user.email 13959569+blindzero@users.noreply.github.com
            git config --global user.name "Matthias Fleschuetz"
            ./build.ps1 -Bootstrap
            ./build.ps1 Init
            Import-Module -Name Pester -MinimumVersion 5.0.1 -Force -Verbose
    - task: DownloadPipelineArtifact@2
      displayName: 'Download compile artifacts'
      inputs:
        artifact: 'Connect-MS365_compile'
        path: 'BuildOutput\Connect-MS365'
    - task: Pester@10
      inputs:
        scriptFolder: '$(System.DefaultWorkingDirectory)\tests\*'
        resultsFile: '$(System.DefaultWorkingDirectory)\Test-Pester.XML'
        tag: 'Unit'
        usePSCore: False
        PesterVersion: 'OtherVersion'
        preferredPesterVersion: '5.0.1'
    - task: Pester Powershell unittest@2
      inputs:
        ItemSpec: '*.tests.ps1'
        IncludeTags: 'Unit'
        FailOnError: true
    - task: PowerShell@2
      displayName: 'Test Unit'
      enabled: false
      inputs:
        targetType: Inline
        script: ./build.ps1 TestUnit
    - task: PublishTestResults@2
      displayName: 'Publish Unit Test Results'
      inputs:
        testResultsFormat: 'NUnit'
        testResultsFiles: '**/testResultsUnit.xml'
        mergeTestResults: true
        testRunTitle: 'Unit Tests'
- stage: Build
  displayName: 'Build'
  #condition: and(succeeded(), eq(variables['build.sourceBranch'], 'refs/heads/master'))
  jobs:
  - job: Build
    displayName: 'Build'
    pool:
      vmImage: 'windows-latest' 
    steps:
    - task: PowerShell@2
      displayName: 'Build Bootstrap and Init'
      inputs:
        targetType: 'Inline'
        script: |
            git config --global user.email 13959569+blindzero@users.noreply.github.com
            git config --global user.name Matthias Fleschuetz
            ./build.ps1 -Bootstrap
            ./build.ps1 Init
    - task: PowerShell@2
      displayName: 'Build'
      inputs:
        filePath: './build.ps1'
        arguments: 'Build'
    - task: PublishBuildArtifacts@1
      displayName: 'Publish build artifact'
      inputs:
        pathToPublish: 'BuildOutput\Connect-MS365'
        artifactName: 'Connect-MS365'
- stage: TestIntegration
  displayName: 'Integration Tests'
  #condition: and(succeeded(), eq(variables['build.sourceBranch'], 'refs/heads/master'))
  jobs:
  - job: TestIntegration_Win
    displayName: 'Windows Integration Tests'
    pool:
      vmImage: 'windows-latest' 
    steps:
    - task: PowerShell@2
      displayName: 'Build Bootstrap and Init'
      inputs:
        targetType: 'Inline'
        script: |
            git config --global user.email 13959569+blindzero@users.noreply.github.com
            git config --global user.name Matthias Fleschuetz
            ./build.ps1 -Bootstrap
            ./build.ps1 Init
    - task: DownloadBuildArtifacts@0
      displayName: 'Download build artifacts'
      inputs:
        artifactName: 'Connect-MS365'
        downloadPath: 'BuildOutput'
    - task: PowerShell@2
      displayName: 'Test Integration'
      inputs:
        targetType: Inline
        script: ./build.ps1 TestIntegration
    - task: PublishTestResults@2
      displayName: 'Publish Integration Test Results'
      inputs:
        testResultsFormat: 'NUnit'
        testResultsFiles: '**/testResultsIntegration.xml'
        mergeTestResults: true
        testRunTitle: 'Integration Tests'      
